<nav class="navbar navbar-expand-lg">
  <div class="container m-auto">
    <div class="container-fluid">
      <a class="navbar-brand" href="/products">Home</a>
      <span class="border border-success rounded">
        <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="border border-success rounded">
          <span class="navbar-toggler-icon bg-transparent border-white"></span>
        </span>
      </button>
      </span>
      <div class="collapse navbar-collapse mr-4 pr-" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/products/add">Add Produts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/api">Api Json</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/products">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/products">Registrer</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>