<div class="text-center container pb-5">
    <h1>Add Productest</h1>
</div>
 
<form action="/products/add" method="POST" enctype="multipart/form-data">

    <div class="col-md-6 container">
        <div class="container m-auto">

            <div class="form-row">

                <div class="col-md-12 mb-3">
                    <label for="validationServer02">Title</label>
                    <input type="text" class="form-control" id="validationServer02" placeholder="Coloque el nombre del producto aquí..." value="" name="title" required>
                </div>

                <div class="col-md-12 mb-3">
                    <label for="validationServer02">Price</label>
                    <input type="number" class="form-control" id="validationServer02" placeholder="Coloque el precio del producto aquí..." value="" name="price" required>
                </div>

                <div class="input-group mt-3">
                    <label for="validationServer02">Upload Image</label>
                    <div class="custom-file">
                    <input type="file" name="image" class="custom-file-input" id="inputGroupFile05">
                    <label for="inputGroupFile05" class="custom-file-label ml-2 mr-2">Click aquí para elegir archivo</label>
                    </div>
                </div>

            </div>
            
                <button class="btn btn-primary mt-3" type="submit">Enviar</button>

        </div>
    </div>
</form>